### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#Counts the total number of schools
num_schools = school_data['school_name'].count()
num_schools

15

In [5]:
#Adds each school's student population for a total
num_students = school_data['size'].sum()
num_students

39170

In [6]:
#Adds up every school's budget for a total
total_budget = school_data['budget'].sum()
total_budget

24649428

In [7]:
#Averages all the math scores
avg_math_score = school_data_complete['math_score'].mean()
avg_math_score

78.98537145774827

In [8]:
#Averages all the reading scores
avg_read_score = school_data_complete['reading_score'].mean()
avg_read_score

81.87784018381414

In [9]:
#Calculates an overall average of both subjects
overall_avg = (avg_read_score + avg_math_score)/2
overall_avg

80.43160582078121

In [10]:
#Counts all reading scores of 70+
#Gets a percentage of those passing reading
total_read_pass = school_data_complete[school_data_complete['reading_score'] >= 70]['student_name'].count()
perc_read_pass = total_read_pass / num_students
perc_read_pass

0.8580546336482001

In [11]:
#Counts all math scores
#Gets a percentage of those passing math
total_math_pass = school_data_complete[school_data_complete['math_score'] >= 70]['student_name'].count()
perc_math_pass = total_math_pass / num_students
perc_math_pass

0.749808526933878

In [12]:
#Creates a table displaying totals for school district
district_summ = pd.DataFrame({
    "Total Schools": [num_schools],
    "Total Students": [num_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_read_score],
    "Overall Average": [overall_avg],
    "% Passing Math": [perc_math_pass],
    "% Passing Reading": [perc_read_pass]
})
district_summ

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Average,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,80.431606,0.749809,0.858055

In [13]:
#Format the table to clean things up
district_summ["Total Students"] = district_summ["Total Students"].map("{:,}".format)
district_summ["Total Budget"] = district_summ["Total Budget"].map("${:,}".format)
district_summ["Average Math Score"] = district_summ["Average Math Score"].map("{:.2f}".format)
district_summ["Average Reading Score"] = district_summ["Average Reading Score"].map("{:.2f}".format)
district_summ["Overall Average"] = district_summ["Overall Average"].map("{:.2f}".format)
district_summ["% Passing Reading"] = district_summ["% Passing Reading"].map("{:.1%}".format)
district_summ["% Passing Math"] = district_summ["% Passing Math"].map("{:.1%}".format)
district_summ

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Average,% Passing Math,% Passing Reading
0,15,"39,170","$24,649,428",78.99,81.88,80.43,75.0%,85.8%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [14]:
#Displays the school type by school name
school_group_df = school_data_complete.groupby(['school_name'])
school_type = school_group_df['type'].first()
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [15]:
#Displays school population by school name
school_size = school_group_df['size'].count()
school_size

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [16]:
#Displays school budget by school name
school_budget = school_group_df['budget'].first()
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [17]:
#Calculates school budget per student
per_student_budget = school_budget / school_size
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
#Calculates average math score by school
avg_math = school_group_df['math_score'].mean()
avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
#Calulates average reading score by school
avg_reading = school_group_df['reading_score'].mean()
avg_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
#Finds number of students passing math
pass_math = school_data_complete.loc[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()
pass_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [21]:
#Calculates percentage of students passing math by school
perc_pass_math = pass_math / school_size
perc_pass_math

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [22]:
#Finds number of students passing reading
pass_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()
pass_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [23]:
#Calculates percentage of students passing reading by school
perc_pass_reading = pass_reading / school_size
perc_pass_reading

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
dtype: float64

In [24]:
#Calculates percentage of students passing classes overall
perc_pass_overall = (perc_pass_math + perc_pass_reading) / 2
perc_pass_overall

school_name
Bailey High School       0.743067
Cabrera High School      0.955867
Figueroa High School     0.733639
Ford High School         0.738043
Griffin High School      0.952657
Hernandez High School    0.738080
Holden High School       0.943794
Huang High School        0.735002
Johnson High School      0.736400
Pena High School         0.952703
Rodriguez High School    0.732933
Shelton High School      0.948609
Thomas High School       0.952905
Wilson High School       0.952037
Wright High School       0.949722
dtype: float64

In [25]:
#Displays data by school name
school_summ = pd.DataFrame({
    "School Type": school_type,
    "Total Students": school_size,
    "Total School Budget": school_budget,
    "Per Student Budget": per_student_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_reading,
    "% Passing Math": perc_pass_math,
    "% Passing Reading": perc_pass_reading,
    "Overall Passing Rate": perc_pass_overall,
})
school_summ

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.949722

In [26]:
#Formats previous table
school_summ["Total Students"] = school_summ["Total Students"].map("{:,}".format)
school_summ["Total School Budget"] = school_summ["Total School Budget"].map("${:,}".format)
school_summ["Per Student Budget"] = school_summ["Per Student Budget"].map("${:}".format)
school_summ["Average Math Score"] = school_summ["Average Math Score"].map("{:.2f}".format)
school_summ["Average Reading Score"] = school_summ["Average Reading Score"].map("{:.2f}".format)
school_summ["% Passing Math"] = school_summ["% Passing Math"].map("{:.1%}".format)
school_summ["% Passing Reading"] = school_summ["% Passing Reading"].map("{:.1%}".format)

school_summ

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628.0,77.05,81.03,66.7%,81.9%,0.743067
Cabrera High School,Charter,"1,858","$1,081,356",$582.0,83.06,83.98,94.1%,97.0%,0.955867
Figueroa High School,District,"2,949","$1,884,411",$639.0,76.71,81.16,66.0%,80.7%,0.733639
Ford High School,District,"2,739","$1,763,916",$644.0,77.10,80.75,68.3%,79.3%,0.738043
Griffin High School,Charter,"1,468","$917,500",$625.0,83.35,83.82,93.4%,97.1%,0.952657
Hernandez High School,District,"4,635","$3,022,020",$652.0,77.29,80.93,66.8%,80.9%,0.738080
Holden High School,Charter,427,"$248,087",$581.0,83.80,83.81,92.5%,96.3%,0.943794
Huang High School,District,"2,917","$1,910,635",$655.0,76.63,81.18,65.7%,81.3%,0.735002
Johnson High School,District,"4,761","$3,094,650",$650.0,77.07,80.97,66.1%,81.2%,0.736400
Pena High School,Charter,962,"$585,858",$609.0,83.84,84.04,94.6%,95.9%,0.952703
Rodriguez High School,District,"3,999","$2,547,363",$637.0,76.84,80.74,66.4%,80.2%,0.732933
Shelton High School,Charter,"1,761","$1,056,600",$600.0,83.36,83.73,93.9%,95.9%,0.948609
Thomas High School,Charter,"1,635","$1,043,130",$638.0,83.42,83.85,93.3%,97.3%,0.952905
Wilson High School,Charter,"2,283","$1,319,574",$578.0,83.27,83.99,93.9%,96.5%,0.952037
Wright High School,Charter,"1,800","$1,049,400",$583.0,83.68,83.95,93.3%,96.6%,0.949722

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [27]:
#.nlargest finds highest values of database in Overall Passing Rate column
#I did not format this column with a % symbol because .nlargest would not work on object. 
school_summ.nlargest(5, 'Overall Passing Rate')

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582.0,83.06,83.98,94.1%,97.0%,0.955867
Thomas High School,Charter,"1,635","$1,043,130",$638.0,83.42,83.85,93.3%,97.3%,0.952905
Pena High School,Charter,962,"$585,858",$609.0,83.84,84.04,94.6%,95.9%,0.952703
Griffin High School,Charter,"1,468","$917,500",$625.0,83.35,83.82,93.4%,97.1%,0.952657
Wilson High School,Charter,"2,283","$1,319,574",$578.0,83.27,83.99,93.9%,96.5%,0.952037

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [28]:
#Same as above-pulls 5 smallest values of column
school_summ.nsmallest(5, 'Overall Passing Rate')

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637.0,76.84,80.74,66.4%,80.2%,0.732933
Figueroa High School,District,"2,949","$1,884,411",$639.0,76.71,81.16,66.0%,80.7%,0.733639
Huang High School,District,"2,917","$1,910,635",$655.0,76.63,81.18,65.7%,81.3%,0.735002
Johnson High School,District,"4,761","$3,094,650",$650.0,77.07,80.97,66.1%,81.2%,0.736400
Ford High School,District,"2,739","$1,763,916",$644.0,77.10,80.75,68.3%,79.3%,0.738043

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [29]:
#Averages math scores of 9th graders by school
ninth_math = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('school_name')['math_score'].mean()
ninth_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [30]:
#Averages math scores of 10th graders by school
tenth_math = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('school_name')['math_score'].mean()
tenth_math

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [31]:
#Averages math scores of 11th graders by school
eleventh_math = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('school_name')['math_score'].mean()
eleventh_math

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [32]:
#Averages math scores of 12th graders by school
twelfth_math = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('school_name')['math_score'].mean()
twelfth_math

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [33]:
#Displays new data by school name
math_scores = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})
math_scores

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [34]:
#Same as above except now for reading scores
ninth_reading = school_data_complete.loc[school_data_complete['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
tenth_reading = school_data_complete.loc[school_data_complete['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh_reading = school_data_complete.loc[school_data_complete['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
twelfth_reading = school_data_complete.loc[school_data_complete['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

In [35]:
reading_scores = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
reading_scores

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [36]:
# Sample bins. Feel free to create your own bins.
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
#Calulates new budget per student column
school_data_complete['budget_per_student'] = school_data_complete['budget'] / school_data_complete['size']
#Creates bins to display new data
school_data_complete['spending_summ'] = pd.cut(school_data_complete['budget_per_student'], bins, labels = group_names)

In [37]:
#Creates a group by School Spending Bins
spending_group = school_data_complete.groupby(['spending_summ'])

In [38]:
#Averages math scores by school budget categories
avg_math = spending_group['math_score'].mean()
avg_math

spending_summ
<$585       83.363065
$585-615    83.529196
$615-645    78.061635
$645-675    77.049297
Name: math_score, dtype: float64

In [39]:
#Averages reading scores by school budget categories
avg_reading = spending_group['reading_score'].mean()
avg_reading

spending_summ
<$585       83.964039
$585-615    83.838414
$615-645    81.434088
$645-675    81.005604
Name: reading_score, dtype: float64

In [40]:
#Totals number of those passing math by spending categories.
#This variable is used for pass_math_perc calculation
pass_math_num = school_data_complete.loc[school_data_complete['math_score'] >= 70].groupby('spending_summ')['Student ID'].count()
pass_math_num

spending_summ
<$585        5967
$585-615     2563
$615-645    12685
$645-675     8155
Name: Student ID, dtype: int64

In [41]:
#Totals number of students by spending categories
#This variable is also used in the next calculation
student_total = spending_group['Student ID'].count()
student_total

spending_summ
<$585        6368
$585-615     2723
$615-645    17766
$645-675    12313
Name: Student ID, dtype: int64

In [42]:
#Calculates percentage of students passing math by spending bins
pass_math_perc = pass_math_num / student_total
pass_math_perc

spending_summ
<$585       0.937029
$585-615    0.941241
$615-645    0.714004
$645-675    0.662308
Name: Student ID, dtype: float64

In [43]:
#Totals number of those passing reading by spending categories.
#This variable is used for pass_reading_perc calculation
pass_reading_num = school_data_complete.loc[school_data_complete['reading_score'] >= 70].groupby('spending_summ')['Student ID'].count()
pass_reading_num

spending_summ
<$585        6157
$585-615     2611
$615-645    14855
$645-675     9987
Name: Student ID, dtype: int64

In [44]:
#Calculates percentage of students passing reading spending bins
pass_reading_perc = pass_reading_num / student_total
pass_reading_perc

spending_summ
<$585       0.966866
$585-615    0.958869
$615-645    0.836148
$645-675    0.811094
Name: Student ID, dtype: float64

In [45]:
passing_overall = (pass_reading_perc + pass_math_perc) / 2
passing_overall

spending_summ
<$585       0.951947
$585-615    0.950055
$615-645    0.775076
$645-675    0.736701
Name: Student ID, dtype: float64

In [46]:
scores_by_school_spending = pd.DataFrame({
        "Average Math Score": avg_math,
        "Average Reading Score": avg_reading,
        "% Passing Math": pass_math_perc,
        "% Passing Reading": pass_reading_perc,
        "Overall Passing Rate": passing_overall
})
scores_by_school_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
spending_summ,,,,,
<$585,83.363065,83.964039,0.937029,0.966866,0.951947
$585-615,83.529196,83.838414,0.941241,0.958869,0.950055
$615-645,78.061635,81.434088,0.714004,0.836148,0.775076
$645-675,77.049297,81.005604,0.662308,0.811094,0.736701

## Scores by School Size

* Perform the same operations as above, based on school size.

In [47]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_data_complete['scores_by_school_pop'] = pd.cut(school_data_complete['size'], size_bins, labels = group_names)
school_group = school_data_complete.groupby(['scores_by_school_pop'])

In [48]:
avg_math = school_group['math_score'].mean()
avg_math

scores_by_school_pop
Small (<1000)         83.828654
Medium (1000-2000)    83.372682
Large (2000-5000)     77.477597
Name: math_score, dtype: float64

In [49]:
avg_reading = school_group['reading_score'].mean()
avg_reading

scores_by_school_pop
Small (<1000)         83.974082
Medium (1000-2000)    83.867989
Large (2000-5000)     81.198674
Name: reading_score, dtype: float64

In [50]:
#Totals number of those passing math by school size categories.
#This variable is used for pass_math_perc calculation
pass_math_num = school_data_complete.loc[school_data_complete['math_score'] >= 70].groupby('scores_by_school_pop')['Student ID'].count()
pass_math_num

scores_by_school_pop
Small (<1000)          1305
Medium (1000-2000)     7978
Large (2000-5000)     20087
Name: Student ID, dtype: int64

In [51]:
#Totals number of students by spending categories
#This variable is also used in the next calculation
student_total = school_group['Student ID'].count()
student_total

scores_by_school_pop
Small (<1000)          1389
Medium (1000-2000)     8522
Large (2000-5000)     29259
Name: Student ID, dtype: int64

In [52]:
#Calculates percentage of students passing math by spending bins
pass_math_perc = pass_math_num / student_total
pass_math_perc

scores_by_school_pop
Small (<1000)         0.939525
Medium (1000-2000)    0.936165
Large (2000-5000)     0.686524
Name: Student ID, dtype: float64

In [53]:
#Totals number of those passing reading by spending categories.
#This variable is used for pass_reading_perc calculation
pass_reading_num = school_data_complete.loc[school_data_complete['reading_score'] >= 70].groupby('scores_by_school_pop')['Student ID'].count()
pass_reading_num

scores_by_school_pop
Small (<1000)          1334
Medium (1000-2000)     8247
Large (2000-5000)     24029
Name: Student ID, dtype: int64

In [54]:
#Calculates percentage of students passing reading spending bins
pass_reading_perc = pass_reading_num / student_total
pass_reading_perc

scores_by_school_pop
Small (<1000)         0.960403
Medium (1000-2000)    0.967731
Large (2000-5000)     0.821252
Name: Student ID, dtype: float64

In [55]:
passing_overall = (pass_reading_perc + pass_math_perc) / 2
passing_overall

scores_by_school_pop
Small (<1000)         0.949964
Medium (1000-2000)    0.951948
Large (2000-5000)     0.753888
Name: Student ID, dtype: float64

In [56]:
scores_by_school_size = pd.DataFrame({
        "Average Math Score": avg_math,
        "Average Reading Score": avg_reading,
        "% Passing Math": pass_math_perc,
        "% Passing Reading": pass_reading_perc,
        "Overall Passing Rate": passing_overall
})
scores_by_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
scores_by_school_pop,,,,,
Small (<1000),83.828654,83.974082,0.939525,0.960403,0.949964
Medium (1000-2000),83.372682,83.867989,0.936165,0.967731,0.951948
Large (2000-5000),77.477597,81.198674,0.686524,0.821252,0.753888

## Scores by School Type

* Perform the same operations as above, based on school type.

In [57]:
#Displays all the different school types
school_data_complete['type'].unique()

array(['District', 'Charter'], dtype=object)

In [58]:
scores_by_type = school_data_complete.groupby(['type'])

In [59]:
avg_math = scores_by_type['math_score'].mean()
avg_math

type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [60]:
avg_reading = scores_by_type['reading_score'].mean()
avg_reading

type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

In [61]:
pass_math_num = school_data_complete.loc[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()
pass_math_num

type
Charter     11426
District    17944
Name: Student ID, dtype: int64

In [62]:
student_total = scores_by_type['Student ID'].count()
student_total

type
Charter     12194
District    26976
Name: Student ID, dtype: int64

In [63]:
pass_math_perc = pass_math_num / student_total
pass_math_perc

type
Charter     0.937018
District    0.665184
Name: Student ID, dtype: float64

In [64]:
pass_reading_num = school_data_complete.loc[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()
pass_reading_num

type
Charter     11785
District    21825
Name: Student ID, dtype: int64

In [65]:
pass_reading_perc = pass_reading_num / student_total
pass_reading_perc

type
Charter     0.966459
District    0.809052
Name: Student ID, dtype: float64

In [66]:
passing_overall = (pass_reading_perc + pass_math_perc) / 2
passing_overall

type
Charter     0.951739
District    0.737118
Name: Student ID, dtype: float64

In [67]:
scores_by_school_type = pd.DataFrame({
        "Average Math Score": avg_math,
        "Average Reading Score": avg_reading,
        "% Passing Math": pass_math_perc,
        "% Passing Reading": pass_reading_perc,
        "Overall Passing Rate": passing_overall
})
scores_by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
type,,,,,
Charter,83.406183,83.902821,0.937018,0.966459,0.951739
District,76.987026,80.962485,0.665184,0.809052,0.737118